<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/styles.css}" />
  <script>
		// Function to toggle the profile pop-up
		function togglePopup() {
			var popup = document.getElementById("profile-popup");
			popup.style.display = popup.style.display === "block" ? "none" : "block";
		}

		function redirectToWallet() {
          let newUrl = window.location.href.replace("/investments", "/wallets");
          window.location.href = newUrl;
        }
        function redirectToGroups() {
          let newUrl = window.location.href.replace("/investments", "/groups");
          window.location.href = newUrl;
        }
        function redirectToProfile() {
          let newUrl = window.location.href.replace("/investments", "/profile");
          window.location.href = newUrl;
        }
        function redirectToInvestment(id) {
          let str = "/investment/" + id;
          let newUrl = window.location.href.replace("/investments", str);
          window.location.href = newUrl;
        }

	</script>
</head>
<body>
<!-- Header panel with buttons -->
<div class="header">
  <div style="width: 20%; height: auto;">
    <img th:src="@{/icons/logo.png}" alt="Thrift" style="width: 100%; height: auto;">
  </div>
  <button onclick="redirectToWallet()"><img th:src="@{/icons/wallet.png}" alt="Wallet">Personal Wallets</button>
  <button onclick="redirectToGroups()"><img th:src="@{/icons/groups.png}" alt="Groups">Groups</button>
  <button><img th:src="@{/icons/investments.png}" alt="Investments">Investments</button>
  <button onclick="redirectToProfile()"><img th:src="@{/icons/profile.png}" alt="Profile">My Profile</button>
</div>
<h1 th:text="${username} + ' investments'"/>
  <div class="list" th:each="instrument : ${instruments}">
    <div class="panel">
      <li style="display: flex; justify-content: space-between;">
        <div>
          <strong th:text="${instrument.title}"></strong>
          <button th:onclick="'redirectToInvestment(\'' + ${instrument.id} + '\')'">
            <img th:src="@{/icons/preferences.png}" alt="edit" style="width: auto; height: 1em;">
          </button>
        </div>
        <div th:text="${instrument.amount + ' $'}"></div>
      </li>
      <li style="display: flex; justify-content: space-between;">
        <div th:text="${instrument.description}"></div>
      </li>
    </div>
  </div>

</body>
</html>
