<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/styles.css}" />
  <style>
		.header button:hover {
            background-color: #3366FF;
        }
		.list div:hover {
            background-color: #BBBBBB;
        }

	</style>
  <script>
		// Function to toggle the profile pop-up
		function togglePopup() {
			var popup = document.getElementById("profile-popup");
			popup.style.display = popup.style.display === "block" ? "none" : "block";
		}

		function redirectToWallet() {
          let newUrl = window.location.href.replace("/groups", "/wallets");
          window.location.href = newUrl;
        }
        function redirectToInvestments() {
          let newUrl = window.location.href.replace("/groups", "/investments");
          window.location.href = newUrl;
        }
        function redirectToProfile() {
          let newUrl = window.location.href.replace("/groups", "/profile");
          window.location.href = newUrl;
        }
        function redirectToGroup(id) {
          let str = "/group/" + id;
          let newUrl = window.location.href.replace("/groups", str);
          window.location.href = newUrl;
        }
	</script>
</head>
<body>
<!-- Header panel with buttons -->
<div class="header">
  <div style="width: 20%; height: auto;">
    <img th:src="@{/icons/logo.png}" alt="Thrift" style="width: 100%; height: auto;">
  </div>
  <button onclick="redirectToWallet()"><img th:src="@{/icons/wallet.png}" alt="Wallet">Personal Wallets</button>
  <button><img th:src="@{/icons/groups.png}" alt="Groups">Groups</button>
  <button onclick="redirectToInvestments()"><img th:src="@{/icons/investments.png}" alt="Investments">Investments</button>
  <button onclick="redirectToProfile()"><img th:src="@{/icons/profile.png}" alt="Profile">My Profile</button>
</div>
<h1 th:text="${username} + ' groups'"/>
  <div class="list" th:each="group, groupIndex : ${groups}">
    <div class="panel" th:onclick="'redirectToGroup(\'' + ${group.id} + '\')'">
    <div th:if="${groupIndex.index < members.size()}" th:with="number=${members[groupIndex.index]}">
    <ul>
      <li style="display: flex; justify-content: space-between;">
        <strong th:text="${group.title}"></strong>
        <strong th:text="${number + ' member(s)'}"></strong>
      </li>
      <li style="display: flex; justify-content: space-between;">
        <div th:text="${group.description}"></div>
      </li>
    </ul>
    </div>
    </div>
  </div>
</body>
</html>
