<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <link rel="stylesheet" th:href="@{/styles.css}" />-->
<!--    <style>-->
<!--        .profile-container {-->
<!--          display: flex;-->
<!--          align-items: center;-->
<!--        }-->

<!--        .profile-container img {-->
<!--          margin-right: 10px; /* Adjust the margin as needed */-->
<!--        }-->
<!--    </style>-->
<!--    <script>-->
<!--		// Function to toggle the profile pop-up-->
<!--		function togglePopup() {-->
<!--			var popup = document.getElementById("profile-popup");-->
<!--			popup.style.display = popup.style.display === "block" ? "none" : "block";-->
<!--		}-->

<!--		function redirectToWallet() {-->
<!--          let newUrl = window.location.href.replace("/profile", "/wallets");-->
<!--          window.location.href = newUrl;-->
<!--        }-->
<!--        function redirectToInvestments() {-->
<!--          let newUrl = window.location.href.replace("/profile", "/investments");-->
<!--          window.location.href = newUrl;-->
<!--        }-->
<!--        function redirectToGroups() {-->
<!--          let newUrl = window.location.href.replace("/profile", "/groups");-->
<!--          window.location.href = newUrl;-->
<!--        }-->
<!--        function redirectToCreateInvestment() {-->
<!--          let newUrl = window.location.href.replace("/profile", "/new_investment");-->
<!--          window.location.href = newUrl;-->
<!--        }-->
<!--        function redirectToCreateWallet() {-->
<!--          let newUrl = window.location.href.replace("/profile", "/new_wallet");-->
<!--          window.location.href = newUrl;-->
<!--        }-->
<!--        function redirectToCreateGroup() {-->
<!--          let newUrl = window.location.href.replace("/profile", "/new_group");-->
<!--          window.location.href = newUrl;-->
<!--        }-->
<!--        function redirectToJoinGroup() {-->
<!--          let newUrl = window.location.href.replace("/profile", "/join_group");-->
<!--          window.location.href = newUrl;-->
<!--        }-->
<!--        function redirectToLogin() {-->
<!--            let newUrl = window.location.origin + "/login";-->
<!--            window.location.href = newUrl;-->
<!--        }-->

<!--	</script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="header">-->
<!--  <div style="width: 20%; height: auto;">-->
<!--    <img th:src="@{/icons/logo.png}" alt="Thrift" style="width: 100%; height: auto;">-->
<!--  </div>-->
<!--  <button onclick="redirectToWallet()"><img th:src="@{/icons/wallet.png}" alt="Wallet">Personal Wallets</button>-->
<!--  <button onclick="redirectToGroups()"><img th:src="@{/icons/groups.png}" alt="Groups">Groups</button>-->
<!--  <button onclick="redirectToInvestments()"><img th:src="@{/icons/investments.png}" alt="Investments">Investments</button>-->
<!--  <button onclick="redirectToProfile()"><img th:src="@{/icons/profile.png}" alt="Profile">My Profile</button>-->
<!--</div>-->
<!--<div class="panel">-->
<!--    <div class="profile-container">-->
<!--        <img th:src="@{/default_profile.png}" alt="profile image">-->
<!--        <div>-->
<!--            <h1 th:text="${username}"/>-->
<!--            <h1 th:text="'Notifications:'"/>-->
<!--        </div>-->
<!--    </div>-->
<!--  <ul>-->
<!--      <button onclick="redirectToCreateWallet()">-->
<!--          <img th:src="@{/icons/wallet.png}" alt="New group">-->
<!--          <h4 th:text="'New wallet'"/>-->
<!--      </button>-->
<!--      <button onclick="redirectToCreateGroup()">-->
<!--          <img th:src="@{/icons/groups.png}" alt="New group">-->
<!--          <h4 th:text="'New group'"/>-->
<!--      </button>-->
<!--      <button onclick="redirectToJoinGroup()">-->
<!--          <img th:src="@{/icons/groups.png}" alt="Join group">-->
<!--          <h4 th:text="'Join group'"/>-->
<!--      </button>-->
<!--      <button onclick="redirectToCreateInvestment()">-->
<!--          <img th:src="@{/icons/investments.png}" alt="New group">-->
<!--          <h4 th:text="'New investment'"/>-->
<!--      </button>-->
<!--      <button><img th:src="@{/icons/preferences.png}" alt="Preferences">-->
<!--          <h4 th:text="'Preferences'"/>-->
<!--      </button>-->
<!--      <button onclick="redirectToLogin()">-->
<!--          <img th:src="@{/icons/log_out.png}" alt="Log out">-->
<!--          <h4 th:text="'Log out'"/>-->
<!--      </button>-->
<!--  </ul>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <style>
    body {
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .profile-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top:20px;
      margin-bottom: 20px;
    }

    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }

    .nickname {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .button-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .button {
      margin: 0 10px;
      padding: 10px;
      background-color: lightgray;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .notifications {
      text-align: center;
    }
  </style>
    <script>
		// Function to toggle the profile pop-up
		function togglePopup() {
			var popup = document.getElementById("profile-popup");
			popup.style.display = popup.style.display === "block" ? "none" : "block";
		}

		function redirectToWallet() {
          let newUrl = window.location.href.replace("/profile", "/wallets");
          window.location.href = newUrl;
        }
        function redirectToInvestments() {
          let newUrl = window.location.href.replace("/profile", "/investments");
          window.location.href = newUrl;
        }
        function redirectToGroups() {
          let newUrl = window.location.href.replace("/profile", "/groups");
          window.location.href = newUrl;
        }
        function redirectToCreateInvestment() {
          let newUrl = window.location.href.replace("/profile", "/new_investment");
          window.location.href = newUrl;
        }
        function redirectToCreateWallet() {
          let newUrl = window.location.href.replace("/profile", "/new_wallet");
          window.location.href = newUrl;
        }
        function redirectToCreateGroup() {
          let newUrl = window.location.href.replace("/profile", "/new_group");
          window.location.href = newUrl;
        }
        function redirectToJoinGroup() {
          let newUrl = window.location.href.replace("/profile", "/join_group");
          window.location.href = newUrl;
        }
        function redirectToLogin() {
            let newUrl = window.location.origin + "/login";
            window.location.href = newUrl;
        }

        function deletePanel(panelId) {
            var panelElement = document.getElementById(panelId);
            if (panelElement) {
                panelElement.remove();
            }
        }

        function deleteNotifications() {
          let newUrl = window.location.href.replace("/profile", "/delete_notifications");
          window.location.href = newUrl;
        }

	</script>
</head>
<body>
<div class="header">
  <div style="width: 20%; height: auto;">
    <img th:src="@{/icons/logo.png}" alt="Thrift" style="width: 100%; height: auto;">
  </div>
  <button onclick="redirectToWallet()"><img th:src="@{/icons/wallet.png}" alt="Wallet">Personal Wallets</button>
  <button onclick="redirectToGroups()"><img th:src="@{/icons/groups.png}" alt="Groups">Groups</button>
  <button onclick="redirectToInvestments()"><img th:src="@{/icons/investments.png}" alt="Investments">Investments</button>
  <button onclick="redirectToProfile()"><img th:src="@{/icons/profile.png}" alt="Profile">My Profile</button>
</div>
<div class="profile-container">
    <img class="profile-image" th:src="@{/default_profile.png}" alt="Profile Image">
    <h1 class="nickname" th:text="${username}"/>
</div>
<div class="button-container">
        <button class="button" onclick="redirectToCreateWallet()">
          <img th:src="@{/icons/wallet.png}" alt="New group">
          <h4 th:text="'New wallet'"/>
        </button>
        <button class="button" onclick="redirectToCreateGroup()">
          <img th:src="@{/icons/groups.png}" alt="New group">
          <h4 th:text="'New group'"/>
        </button>
        <button class="button" onclick="redirectToJoinGroup()">
          <img th:src="@{/icons/groups.png}" alt="Join group">
          <h4 th:text="'Join group'"/>
        </button>
        <button class="button" onclick="redirectToCreateInvestment()">
          <img th:src="@{/icons/investments.png}" alt="New group">
          <h4 th:text="'New investment'"/>
        </button>
        <button class="button" ><img th:src="@{/icons/preferences.png}" alt="Preferences">
          <h4 th:text="'Preferences'"/>
        </button>
        <button class="button" onclick="redirectToLogin()">
          <img th:src="@{/icons/log_out.png}" alt="Log out">
          <h4 th:text="'Log out'" style="color: red;"/>
        </button>
</div>
<div class="notifications">
    <li style="display: flex; align-items: center;">
        <h2>Your notifications   </h2>
        <img th:src="@{/icons/bin.jpg}" alt="delete notifications" onclick="deleteNotifications()" style="width: auto; height: 1em;">
    </li>


    <div class="list" th:each="notification, notificationIndex : ${notifications}">
        <div id="panel-1" class="panel">
            <ul>
                <li style="display: flex; justify-content: space-between;">
                    <strong th:text="${notification.message}"></strong>
                    <strong onclick="deletePanel('panel-1')" th:text="'hide'" style="margin-left: 20px;"></strong>
                </li>
            </ul>
        </div>
    </div>

    <div th:if="${notifications.isEmpty()}" class="no-messages">
        <strong>you don't have any notifications</strong>
    </div>

</div>
</body>
</html>
